{% extends 'common.html' %}
{%block content%}
    <p>テーブル番号：{{tableno}}</p>
    <ul>
        {% for food in foods %}
            {% if food.count %}
                <li class="menu">{{food.name}}の個数は{{food.count}}です</li>
            {% endif %}
        {% endfor %}
        {% for drink in drinks %}
            {% if drink.count %}
                <li class="menu">{{drink.name}}の個数は{{drink.count}}です</li>
            {% endif %}
        {% endfor %}
    </ul>
    <p>合計で{{sum}}円です</p>
    <form >
        <input type="button" onclick="history.back()" value="戻る">
        <input type="button" onclick="location.href='/confirm'" value="確定">
    </form>
{%endblock%}