{% extends 'common.html' %}
{%block content%}
    <div class="container-fluid">
            <p>記録者：{{name}}</p>
            <div class="row">
            <table border="1" class="col-12">
                <tr>
                    {% for name in header %}
                        <th align="center">{{name}}</th>
                    {% endfor %}
                </tr>
                    {% for i in range(num) %}
                        <tr>
                        {% for data in corrects[i] %}
                            <td align="center">{{data}}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
            </table>
            </div>
            <p>
                <form>
                    <input type="button" onclick="history.back()" value="戻る">
                </form>
            </p>
        </div>
{%endblock%}