{% extends 'common.html' %}
{%block content%}
    <div class="container-fluid">
            <div class="row">
            <table border="1" class="col-12">
                <tr>
                    {% for name in header %}
                        <th align="center">{{name}}</th>
                    {% endfor %}
                </tr>
                    {% for i in num %}
                        <tr>
                        {% for data in menus[i] %}
                            <td align="center">{{data}}</td>
                        {% endfor %}
                        <td align="center">
                            <form action="/served_d" method="POST">
                                    <input type="hidden" name="orderno" value="{{i}}">
                                    <input type="text" name="comment" value="訂正">
                            </form>
                        </td>
                        </tr>
                    {% endfor %}
            </table>
            </div>
            <p>
                <form>
                    <input type="button" onclick="location.href='/kitchen'" value="戻る" style="padding:20px;margin:10px;">
                    <input type="button" onclick="location.href='/serve_d'" value="提供" style="padding:20px;margin:10px;">
                </form>
            </p>
        </div>
{%endblock%}