{%extends 'common.html'%}
{%block content%}
    <div class="container-fluid">
            <input class="col-12" type="button" onclick="location.href='/table'" value="新規注文" style="padding:20px;margin:10px;height:200px;"><br>
            <input class="col-12" type="button" onclick="location.href='/kitchen'" value="注文一覧" style="padding:20px;margin:10px;height:200px;"><br>
            <input class="col-12" type="button" onclick="location.href='/history'" value="提供済み" style="padding:20px;margin:10px;height:200px;">
    </form>
    </div>
{%endblock%}