{% extends 'common.html' %}
{%block content%}
<div class="container-fluid">
    <form>
        <input class="col-12" type="button" onclick="location.href='/kitchen_food'" value="フード" style="padding:20px;margin:10px;height:150px;"><br>
        <input class="col-12" type="button" onclick="location.href='/kitchen_drink'" value="ドリンク" style="padding:20px;margin:10px;height:150px;"><br>
        <input class="col-12" type="button" onclick="history.back()" value="戻る" style="padding:20px;margin:10px;height:150px;">
    </form>
</div>
{%endblock%}