{% extends 'common.html' %}
{%block content%}
    <form>
        <input class="col-md-4 col-sm-6 col-xs-12" type="button" onclick="location.href='/kitchen_food'" value="フード" style="padding:20px;margin:10px;"><br>
        <input class="col-md-4 col-sm-6 col-xs-12" type="button" onclick="location.href='/kitchen_drink'" value="ドリンク" style="padding:20px;margin:10px;"><br>
        <input class="col-md-4 col-sm-6 col-xs-12" type="button" onclick="history.back()" value="戻る" style="padding:20px;margin:10px;">
    </form>
{%endblock%}