{% extends 'common.html' %}
{%block content%}
    <table class="col-md-4 col-sm-6 col-xs-12">
        <tr>
            {% for fn in fnt %}
                <th>{{fn}}</th>
            {% endfor %}
        </tr>
        {% for row in ft %}
            <tr>
            {% for data in row %}
                <td>{{data}}</td>
            {% endfor %}
            <form action="/served_f" method="POST">
                    <input type="hidden" name="servedno_f" value={{i}}>
                    <input type="submit" value="提供済み">
            </form>
            {% i+=1 %}
            </tr>
        {% endfor %}
    </table>
    <p>
        <form>
            <input type="button" onclick="history.back()" value="戻る">
            <input type="button" onclick="location.href='/serve_f'" value="提供">
        </form>
    </p>
{%endblock%}