{% extends 'common.html' %}
{%block content%}

    <ul type="none">
        <h4 class="mymenu">フード</h4>
        {% for food in foods %}
            <li>
                <div class="choice">
                    {{food.name}}
                    
                    <select name="{{food.name}}" form="add">
                        <option value="">選択してください</option>
                        {% for i in range(10) %}
                            <option value="{{i+1}}">{{i+1}}</option>
                        {% endfor %}
                    </select>

                </div>
            </li>
        {% endfor %}
        <br>
        <h4 class="mymenu">ドリンク</h4>
        {% for drink in drinks %}
            <li>
                <div class="choice">
                    {{drink.name}}
                    
                    <select name="{{drink.name}}" form="add">
                        <option value="">選択してください</option>
                        {% for i in range(10) %}
                            <option value="{{i+1}}">{{i+1}}</option>
                        {% endfor %}
                    </select>

                </div>
            </li>
        {% endfor %}
    </ul>
    <form action="/check" method="post" id="add">
        <input type="button" onclick="history.back()" value="戻る">
        <input type="submit" value="注文">
        <!-- <input type="button" onclick="location.href='/check'" value="注文"> -->
    </form>
{%endblock%}
