{% extends 'common.html' %}
{%block content%}
    <h4>テーブルNo</h4>
    <form action="/debug" method="POST">
        <select name="table">
                <option value="0">選択してください</option>
                {% for i in range(10) %}
                    <option value="{{i+1}}">{{i+1}}</option>
                {% endfor %}
            </select>
        <input type="button" onclick="history.back()" value="戻る">
        <input type="submit" value="注文">
        <!-- <input type="button" onclick="location.href='/debug'" value="確定"> -->
    </form>
{%endblock%}