{% extends 'common.html' %}
{%block content%}
<div class="container-fluid">
    <h1 class="col-12">テーブルNo</h1>
    <div class="row">
    <form action="/menu" method="POST">
        <select name="table" class="col-12">
            <option value="0">選択してください</option>
            {% for i in range(10) %}
                <option value="{{i+1}}">{{i+1}}</option>
            {% endfor %}
        </select>
        <input type="button" onclick="history.back()" value="戻る" class="col-3">
        <input type="submit" value="注文" class="col-3">
    </form>
    </div>
</div>
{%endblock%}