{% extends 'common.html' %}
{%block content%}
<div class="container-fluid"></div>
    <h2> テーブルNo</h2>
    <div class="row">
    <form action="/menu" method="POST" class="col-md-4 col-sm-6 col-xs-12">
        <select name="table">
            <option value="0">選択してください</option>
            {% for i in range(10) %}
                <option value="{{i+1}}">{{i+1}}</option>
            {% endfor %}
        </select>
        <input type="button" onclick="history.back()" value="戻る">
        <input type="submit" value="注文">
    </form>
    </div>
</div>
{%endblock%}