{% extends 'common.html' %}
{%block content%}
<div class="container-fluid">
    <form action="/check" method="POST">
    <ul type="none">
        <h4 class="mymenu">フード</h4>
        {% for food in foods %}
            <li>
                <div class="row">
                <div class="col-12">
                    {{food.name}}
                    <select name="{{food.name}}">
                        <option value="0">選択してください</option>
                        {% for i in range(10) %}
                            <option value="{{i+1}}">{{i+1}}</option>
                        {% endfor %}
                    </select>
                </div>
                </div>
            </li>
        {% endfor %}
        <br>
        <h4 class="mymenu">ドリンク</h4>
        {% for drink in drinks %}
            <li>
                <div class="row">
                <div class="col-12">
                    {{drink.name}}          
                    <select name="{{drink.name}}">
                        <option value="0">選択してください</option>
                        {% for i in range(10) %}
                            <option value="{{i+1}}">{{i+1}}</option>
                        {% endfor %}
                    </select>
                </div>
                </div>
            </li>
        {% endfor %}
        <br>
    </ul>
    <input type="hidden" name="name" value={{name}}>
    <input type="hidden" name="table" value={{tableno}}>
    <input type="button" onclick="history.back()" value="戻る" style="padding:20px;margin:10px;">
    <input type="submit" value="注文" style="padding:20px;margin:10px;">
    </form>
</div>
{%endblock%}
